* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #0B172A;
    --second-color: #BC4123;
    --third-color: white;
}

body {
    font-family: helvetica, arial, sans-serif;
    background-color: var(--first-color);
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    color: var(--second-color);
    font-size: 25px;
    padding: 15px 10px 0 10px;
    height: 70px;
}

.btnHS {
    border-radius: 15px;
    background-color: var(--first-color);
    text-decoration: none;
    border: 0;
    color: var(--second-color);
    font-family: helvetica, arial, sans-serif;
    font-size: 25px;
}

/* When hovering over view high score color will change */
.btnHS:hover {
    color: var(--first-color);
    background-color: var(--second-color);
    border: 3px;
    border-radius: 10px;
    font-weight: bold;
}

